body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(
    132.6deg,
    rgba(71, 139, 214, 1) 23.3%,
    rgba(37, 216, 211, 1) 84.7%
  );
}
#loading {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #3498db;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #3498db;
  box-shadow: 30px 0 0 #fff;
}
.navbar {
  justify-content: center;
}
.container {
  img {
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 10px;
  }
  .card {
    height: 310px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    &:hover .showDetail {
      opacity: 1;
    }
  }
  section {
    position: absolute;
    bottom: 10px;
  }
  .showDetail {
    li {
      font-size: large;
      list-style: none;
    }
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
    opacity: 0;
    transition: all 0.5s;
    background-color: rgba(255, 251, 251, 0.932);
  }
}
#showBag {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background: white;
  display: none;
  img {
    width: 80px;
    height: 80px;
  }
  td i {
    font-size: 30px;
    &:hover {
      cursor: pointer;
      color: red;
    }
  }
}
